* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../refs/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../refs/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../refs/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: thin;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #767474;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 20px;
  box-shadow: inset 0 0 5px #767474;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper_wide {
  width: 100vw;
  margin: auto;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #000000;
}

.wrapper {
  width: 1160px;
  margin: auto;
  display: flex;
}

.header_content {
  width: 1160px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.logo {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  margin: 14px 0px 14px 0px;
  text-decoration: none;
  border: 1.18841px solid #ffffff;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.logo_name {
  color: #ffffff;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  box-sizing: border-box;
  width: 72.49px;
  height: 44.91px;
  text-decoration: none;
  z-index: 16;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.logo_bamboo {
  width: 12px;
  height: 28px;
  display: inline-block;
  background-image: url("../refs/icons/bamboo.svg");
  position: absolute;
  box-sizing: border-box;
  left: 7px;
  top: 20px;
  background-repeat: no-repeat;
  z-index: 8;
  transition: all 0.4s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  border: 1.18841px solid #FE9013;
}
.logo:hover .logo_name {
  color: #FE9013;
}
.logo:hover * .logo_bamboo {
  background-image: url("../refs/icons/bamboo_green.svg");
}

.navigation {
  margin-top: 29px;
  margin-left: 63px;
  width: 1015px;
  height: 23px;
  display: flex;
  justify-content: space-between;
}

.navigation_menu_one {
  width: 473px;
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.navigation_menu_two {
  width: 105px;
  height: 22px;
}

.navigation_item {
  text-decoration: none;
}

.navigation_item:hover {
  cursor: pointer;
}

.navigation_item #active {
  color: #E47209;
  cursor: auto;
}

.navigation_link {
  transition-duration: 0.4s;
}

.navigation_link:not(#active):hover {
  color: #E47209;
}

.navigation_link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}/*# sourceMappingURL=zoos.css.map */