* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../refs/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: "Roboto";
    src: url("../refs/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
  }



html {
    scroll-behavior: smooth;
}

.start_screen {
    width: 100%;
    height: 780px;
    background-color: #000000;
    background-image: url('../refs/pics/Giant\ Panda.png');
    background-size: cover;
}

.wrapper_wide {
    max-width: 100vw;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

    .header {
        width: 100%;
        height: 80px;
        background-color: #000000;             
    }

    .giant_panda_pic {
        width: 1600px;
        height: 780px;
        /* background-image: url('../refs/pics/Giant\ Panda.png'); */
        display: inline-block;
        background-repeat: no-repeat;             
    }

        .wrapper {
            max-width: 1160px;
            margin: auto;
        }  
            
            .logo {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 82px;
                height: 52px;                
                margin: 14px 0px 14px 220px;               
            }

                /* .logo_frame {
                    width: 82px;
                    height: 52px;                    
                    border: 1px solid #FFFFFF;
                    border-radius: 2px;
                    display: inline-block;
                } */

                .logo_name {
                    color: #FFFFFF;
                    display: inline-block;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19.0145px;
                    line-height: 120%;
                    text-align: center;
                    box-sizing: border-box;
                    border: 1.18841px solid #FFFFFF;
                    width: 82px;
                    height: 52px;                   
                    border-radius: 2px;
                    text-decoration: none;
                }

                .logo_bamboo {
                    width: 8px;
                    height: 20px;
                    display: inline-block;
                    background-image: url('../refs/icons/logo_bamboo.png');
                }


            .navigation {
                margin-left: 63px;
                width: 635px;
                height: 23px;
            }

            .navigation_menu {                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                color: #ffffff;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }            

            .title_first_screen {
                width: 500px;
                height: 400px;
                font-family: 'Roboto';
                font-style: bold;
                font-weight: 700;
                font-size: 106.496px;
                line-height: 75%;
                color: #FFFFFF;
                text-transform: uppercase;
                top: 166px;
                left: 880px; 
                right: 0px;                   
                text-align: center;                                       
            }

            .title_colored {
                color: #FFEE2E;
            }

            .title_first_screen::after {
                width: 465px;
                height: 465px;
                border-radius: 50%;
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                content: '';
                display: inline-block;
                position: absolute;                    
            }

                /* .decoration_circle {
                    width: 465px;
                    height: 465px;
                    border-radius: 50%;
                    top: 12px;
                    left: 807px;
                    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                    display: inline-block;                    
                } */

            .button_round_corners {
                width: 298px;
                height: 54px;
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                border-radius: 25px;
                margin: 60px 319px 100px 983px;
            }

            .button_round_corners:hover {
                cursor: pointer;
                background: #E47209;
                border-radius: 25px;
            }
    