* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../online-zoo/refs/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }





.start_screen {
    width: 100%;
    height: 780px;
    background-color: #000000;
}

    .header {
        width: 1600px;
        height: 80px;
        background-color: #000000;
    }

        .wrapper {
            max-width: 1158px;
            margin: auto;
        }  
            
            .logo {
                position: relative;
                display: inline-block;
                width: 82px;
                height: 52px;
                background-image: url('../online-zoo/refs/icons/logo\ PetStory\ online.png');
                top: 14px;
                left: 220px;
            }



            .main_panda {
                width: 1600px;
                height: 780px;
                background-image: url('../online-zoo/refs/pics/Giant\ Panda.png');
            }

                .button_round_corners {
                    width: 298px;
                    height: 54px;
                    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                    border-radius: 25px;
                }

                .button_round_corners:hover {
                    cursor: pointer;
                }