* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../../refs/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../refs/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../../refs/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: thin;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #767474;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 20px;
  box-shadow: inset 0 0 5px #767474;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper_wide {
  width: 100vw;
  margin: auto;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #000000;
}

.wrapper {
  width: 1160px;
  margin: auto;
  display: flex;
}

.header_content {
  width: 1160px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.logo {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  margin: 14px 0px 14px 0px;
  text-decoration: none;
  border: 1.18841px solid #ffffff;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.logo_name {
  color: #ffffff;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  box-sizing: border-box;
  width: 72.49px;
  height: 44.91px;
  text-decoration: none;
  z-index: 16;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.logo_bamboo {
  width: 12px;
  height: 28px;
  display: inline-block;
  background-image: url("../../refs/icons/bamboo.svg");
  position: absolute;
  box-sizing: border-box;
  left: 7px;
  top: 20px;
  background-repeat: no-repeat;
  z-index: 8;
  transition: all 0.4s ease-in-out;
}

.logo:hover {
  cursor: pointer;
  border: 1.18841px solid #FE9013;
}
.logo:hover .logo_name {
  color: #FE9013;
}
.logo:hover * .logo_bamboo {
  background-image: url("../../refs/icons/bamboo_green.svg");
}

.navigation {
  margin-top: 29px;
  margin-left: 63px;
  width: 1015px;
  height: 23px;
  display: flex;
  justify-content: space-between;
}

.navigation_menu_one {
  width: 473px;
  height: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.navigation_item {
  text-decoration: none;
}

.navigation_item:hover {
  cursor: pointer;
}

.navigation_item #active {
  color: #E47209;
  cursor: auto;
}

.navigation_link {
  transition-duration: 0.4s;
}

.navigation_link:not(#active):hover {
  color: #E47209;
}

.navigation_link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.switcher {
  width: 99px;
  position: absolute;
  top: 188px;
  left: 30px;
  z-index: 200;
  overflow: hidden;
  border-radius: 5px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.switcher .animal_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  gap: 8px;
  padding: 16px 0px 16px 0px;
  max-height: 652px;
}
.switcher .switcher_circle {
  width: 78px;
  min-height: 78px;
  border-radius: 50%;
  border-color: #F9804B;
  border-width: 2px;
  border-style: solid;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
}
.switcher .switcher_circle:hover {
  border-color: #E47209;
  cursor: pointer;
}
.switcher .switcher_circle:active {
  border-color: #4B9200;
  cursor: pointer;
}
.switcher .switcher_circle.active {
  border-color: #4B9200;
  cursor: pointer;
}
.switcher .switcher_circle.active.sloth {
  background-image: url("../../refs/icons/switcher/sloth_icon_active_switcher.svg");
}
.switcher .switcher_circle.active:hover {
  background-image: url("../../refs/icons/switcher/sloth_icon_hover_switcher.svg");
  border-color: #E47209;
}
.switcher .switcher_circle.active:active {
  background-image: url("../../refs/icons/switcher/sloth_icon_active_switcher.svg");
  border-color: #4B9200;
}
.switcher .switcher_circle.arrow_down {
  position: absolute;
  bottom: 16px;
  left: 8px;
  background-image: url("../../refs/icons/arrow_down_default.svg");
}
.switcher .switcher_circle.arrow_down:after {
  content: "";
  border: 1px solid #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.switcher .switcher_circle.arrow_down:after:hover {
  content: "";
  border: 1px solid #E47209;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.switcher .switcher_circle.arrow_down:hover {
  background-image: url("../../refs/icons/arrow_down_hover.svg");
}
.switcher .switcher_circle.arrow_down:active {
  background-image: url("../../refs/icons/arrow_down_active.svg");
}
.switcher .switcher_circle.gorilla {
  background-image: url("../../refs/icons/switcher/gorilla_icon_default_switcher.svg");
}
.switcher .switcher_circle.gorilla:hover {
  background-image: url("../../refs/icons/switcher/gorilla_icon_hover_switcher.svg");
  border-color: #E47209;
}
.switcher .switcher_circle.gorilla:active {
  background-image: url("../../refs/icons/switcher/gorilla_icon_active_switcher.svg");
  border-color: #4B9200;
}
.switcher .switcher_circle.crocodile {
  background-image: url("../../refs/icons/switcher/crocodile_icon_default_switcher.svg");
}
.switcher .switcher_circle.crocodile:hover {
  background-image: url("../../refs/icons/switcher/crocodile_icon_hover_switcher.svg");
}
.switcher .switcher_circle.crocodile:active {
  background-image: url("../../refs/icons/switcher/crocodile_icon_active_switcher.svg");
  border-color: #4B9200;
}
.switcher .switcher_circle.panda {
  background-image: url("../../refs/icons/switcher/panda_icon_default_switcher.svg");
}
.switcher .switcher_circle.panda:hover {
  background-image: url("../../refs/icons/switcher/panda_icon_hover_switcher.svg");
}
.switcher .switcher_circle.panda:active {
  background-image: url("../../refs/icons/switcher/panda_icon_active_switcher.svg");
  border-color: #4B9200;
}
.switcher .switcher_circle.eagle {
  background-image: url("../../refs/icons/switcher/eagle_icon_default_switcher.svg");
}
.switcher .switcher_circle.eagle:hover {
  background-image: url("../../refs/icons/switcher/eagle_icon_hover_switcher.svg");
}
.switcher .switcher_circle.eagle:active {
  background-image: url("../../refs/icons/switcher/eagle_icon_active_switcher.svg");
  border-color: #4B9200;
}
.switcher .switcher_circle.penguin {
  background-image: url("../../refs/icons/switcher/penguin_icon_default_switcher.svg");
}
.switcher .switcher_circle.penguin:hover {
  background-image: url("../../refs/icons/switcher/penguin_icon_hover_switcher.svg");
}
.switcher .switcher_circle.penguin:active {
  background-image: url("../../refs/icons/switcher/penguin_icon_active_switcher.svg");
  border-color: #4B9200;
}
.switcher .switcher_circle.kiwi {
  background-image: url("../../refs/icons/switcher/kiwi_icon_default_switcher.svg");
}
.switcher .switcher_circle.kiwi:hover {
  background-image: url("../../refs/icons/switcher/kiwi_icon_hover_switcher.svg");
}
.switcher .switcher_circle.kiwi:active {
  background-image: url("../../refs/icons/switcher/kiwi_icon_active_switcher.svg");
  border-color: #4B9200;
}

input[type=checkbox] {
  border: 0px;
  display: none;
}

#up:checked ~ .switcher_up_down .arrow_down {
  background-image: url("../../refs/icons/arrow_down_default.svg");
}
#up:checked ~ .switcher_up_down .arrow_down ~ .animal_list {
  transform: translateY(0px);
}

#up:not(checked) ~ .switcher_up_down .arrow_down {
  background-image: url("../../refs/icons/arrow_up_default.svg");
}
#up:not(checked) ~ .switcher_up_down .arrow_down ~ .animal_list {
  transform: translateY(0px);
}

img {
  width: 100%;
}

.color-green {
  color: #4B9200;
}

.button {
  display: inline-block;
}
.button.primary {
  color: #ffffff;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  padding: 16px 36px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}
.button.primary:hover {
  background: #E47209;
  cursor: pointer;
}
.button.primary:active {
  background: #4B9200;
  cursor: pointer;
}
.button.secondary {
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  padding: 10px 28px;
  transition: all 0.2s ease-in-out;
}
.button.secondary:hover {
  background: #E47209;
  cursor: pointer;
}
.button.secondary:active {
  background: #4B9200;
  cursor: pointer;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
  font-family: "Roboto";
}
.content section.video {
  margin-top: 40px;
  margin-bottom: 70px;
}
.content section.video .text-wrapper {
  margin-bottom: 20px;
}
.content section.video .text-wrapper h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
}
.content section.video .video-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1160px;
}
.content section.video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.content section.video .slider-wrapper {
  margin-top: 70px;
  position: relative;
  display: flex;
  align-items: center;
}
.content section.video .slider-wrapper .slider-button {
  position: absolute;
  border: 0;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}
.content section.video .slider-wrapper .slider-button.right {
  right: -82px;
}
.content section.video .slider-wrapper .slider-button.left {
  left: -82px;
}
.content section.video .slider-wrapper .slider-button img {
  width: 16px;
}
.content section.video .slider-wrapper .slider-button:hover {
  cursor: pointer;
  background: #E47209;
}
.content section.video .slider-wrapper .slider-button:active {
  cursor: pointer;
  background: #4B9200;
}
.content section.video .slider-wrapper .slider {
  overflow: hidden;
}
.content section.video .slider-wrapper .slider .card-wrapper {
  display: flex;
  margin-left: -134px;
}
.content section.video .slider-wrapper .slider .card-wrapper .card {
  width: 268px;
  height: 210px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
.content section.video .slider-wrapper .slider .card-wrapper .card img {
  width: 268px;
  height: 210px;
}
.content section.video .slider-wrapper .slider .card-wrapper .card:first-child {
  margin-left: 0;
}
.content section.video .slider-wrapper .slider .card-wrapper .card:last-child {
  margin-right: 0;
}
.content section.video .slider-wrapper .slider .card-wrapper .card .card-live {
  position: absolute;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.5019607843);
  border-radius: 5px 10px;
  top: 10px;
  left: 10px;
}
.content section.animal-legend {
  margin-top: 70px;
  margin-bottom: 70px;
}
.content section.animal-legend .animal-card .animal-name {
  font-weight: 500;
  font-size: 48px;
  color: #4B9200;
}
.content section.animal-legend .animal-card .animal-main-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 1px #767474 solid;
  margin-bottom: 20px;
}
.content section.animal-legend .animal-card .animal-main-info .animal-main-left {
  flex: 1;
  max-width: 422px;
  max-height: 422px;
}
.content section.animal-legend .animal-card .animal-main-info .animal-main-right {
  margin-left: 70px;
  flex: 1;
}
.content section.animal-legend .animal-card .animal-main-info .animal-main-right .animal-main-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #ABABAB;
  margin-bottom: 40px;
}
.content section.animal-legend .animal-card .animal-main-info .animal-main-right .animal-button {
  font-weight: 500;
}
.content section.animal-legend .animal-description .row {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
.content section.animal-legend .animal-description .row .property {
  font-size: 24px;
  display: inline-block;
}
.content section.animal-legend .animal-description .row .value {
  font-size: 16px;
  display: inline-block;
}
.content section.animal-legend .animal-open {
  margin-top: 20px;
}

.decoration {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.decoration.flower_decoration_1 {
  position: absolute;
  width: 306px;
  height: 229px;
  left: 0;
  background-image: url("../../refs/decoration_elements/strelitzia_zoos.png");
  transform: translateY(-32px);
}
.decoration.flower_decoration_2 {
  position: absolute;
  width: 215px;
  height: 224px;
  right: 0;
  background-image: url("../../refs/decoration_elements/leave_zoos.png");
  transform: translateY(-10px);
}

.donate_pic {
  width: 100vw;
  height: 390px;
  margin: auto;
  background-image: url("../../refs/pics/eagle_donate_zoos.png");
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 196px;
}
.donate_pic .donate_button {
  display: inline-block;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 276px;
  transition: all 0.2s ease-in-out;
}
.donate_pic .donate_button:hover {
  cursor: pointer;
  background: #E47209;
}
.donate_pic .donate_button:active {
  cursor: pointer;
  background: #4B9200;
}

.footer {
  width: 100vw;
  height: 443px;
  background: #111115;
}

.wrapper_footer {
  width: 1160px;
  margin: auto;
}

.footer_content {
  width: 1160px;
  height: 352px;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.footer_left {
  width: 298px;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_footer {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  margin: 0px 0px 68px 0px;
  text-decoration: none;
  border: 1.18841px solid #ffffff;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.logo_name {
  color: #ffffff;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  box-sizing: border-box;
  width: 72.49px;
  height: 44.91px;
  text-decoration: none;
  z-index: 16;
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.logo_bamboo {
  width: 12px;
  height: 28px;
  display: inline-block;
  background-image: url("../../refs/icons/bamboo.svg");
  position: absolute;
  box-sizing: border-box;
  left: 7px;
  top: 20px;
  background-repeat: no-repeat;
  z-index: 8;
  transition: all 0.4s ease-in-out;
}

.logo_footer:hover {
  cursor: pointer;
  border: 1.18841px solid #FE9013;
}
.logo_footer:hover .logo_name {
  color: #FE9013;
}
.logo_footer:hover * .logo_bamboo {
  background-image: url("../../refs/icons/bamboo_green.svg");
}

.button_footer {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button_footer:hover {
  background: #E47209;
  cursor: pointer;
}

.button_footer:active {
  background: #4B9200;
  cursor: pointer;
}

.footer_button_content {
  width: 298px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer_button_content:active {
  text-decoration: none;
  color: #ffffff;
}

.footer_button_content:visited {
  text-decoration: none;
  color: #ffffff;
}

.button_footer .footer_button_content {
  display: block;
}

.social_networks {
  width: 111px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 44px;
}

.facebook {
  width: 111px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}

.facebook:hover {
  cursor: pointer;
}

.twitter {
  width: 89px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}

.twitter:hover {
  cursor: pointer;
}

.instagram {
  width: 110px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}

.instagram:hover {
  cursor: pointer;
}

.youtube {
  width: 101px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}

.youtube:hover {
  cursor: pointer;
}

.network_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.network_name:visited {
  text-decoration: none;
}

.network_name:active {
  text-decoration: none;
}

.network_icon {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}

.facebook:hover > .network_icon {
  background: #F9804B;
}
.facebook:hover > .network_icon ~ .network_name {
  color: #F9804B;
}

.facebook:active > .network_icon {
  background: #4B9200;
}
.facebook:active > .network_icon ~ .network_name {
  color: #4B9200;
}

.twitter:hover > .network_icon {
  background: #F9804B;
}
.twitter:hover > .network_icon ~ .network_name {
  color: #F9804B;
}

.twitter:active > .network_icon {
  background: #4B9200;
}
.twitter:active > .network_icon ~ .network_name {
  color: #4B9200;
}

.instagram:hover > .network_icon {
  background: #F9804B;
}
.instagram:hover > .network_icon ~ .network_name {
  color: #F9804B;
}

.instagram:active > .network_icon {
  background: #4B9200;
}
.instagram:active > .network_icon ~ .network_name {
  color: #4B9200;
}

.youtube:hover > .network_icon {
  background: #F9804B;
}
.youtube:hover > .network_icon ~ .network_name {
  color: #F9804B;
}

.youtube:active > .network_icon {
  background: #4B9200;
}
.youtube:active > .network_icon ~ .network_name {
  color: #4B9200;
}

.facebook_icon {
  width: 8px;
  height: 16px;
  background-image: url("../../refs/icons/icon_facebook.png");
}

.twitter_icon {
  width: 16px;
  height: 14px;
  background-image: url("../../refs/icons/icon_twitter.png");
}

.instagram_icon {
  width: 16px;
  height: 16px;
  background-image: url("../../refs/icons/icon_instagram.png");
}

.youtube_icon {
  width: 18px;
  height: 12.99px;
  background-image: url("../../refs/icons/icon_youtube.png");
}

.footer_center {
  width: 362px;
  height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation_footer {
  width: 362px;
  height: 22px;
}

.navigation_menu_footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navigation_footer_item_one {
  width: 43px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.navigation_footer_item_two {
  width: 32px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.navigation_footer_item_three {
  width: 36px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.navigation_footer_item_four {
  width: 79px;
  height: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.footer_right {
  width: 367px;
  height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe {
  width: 237px;
  height: 29px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.enter_email_block {
  width: 367px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}

.enter_email_frame {
  width: 228px;
  height: 42px;
  border: 1px solid #F9804B;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email input[type=email] {
  width: 208px;
  height: 22px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  background-color: transparent;
  outline: none;
  border: transparent;
  resize: none;
  border-style: none;
}

input {
  border: none;
}

input[type=email]:focus {
  background: transparent;
  outline: none;
  color: #767474;
}

.email::-moz-placeholder {
  background-color: #000000;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  outline: none;
  border: none;
  resize: none;
  border-style: none;
  border-color: transparent;
  border-width: 0px;
}

.email:-ms-input-placeholder {
  background-color: #000000;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  outline: none;
  border: none;
  resize: none;
  border-style: none;
  border-color: transparent;
  border-width: 0px;
}

.email::placeholder {
  background-color: #000000;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  outline: none;
  border: none;
  resize: none;
  border-style: none;
  border-color: transparent;
  border-width: 0px;
}

input:active {
  border: none;
}

.enter_email_frame:has(input[type=email]:valid) ~ .submit_button {
  border-color: #4B9200;
  color: #4B9200;
}

.enter_email_frame:has(input[type=email]:invalid) ~ .submit_button {
  border-color: #D31414;
  color: #D31414;
}

.submit_button {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  transition: all 0.4s ease-in;
}

.submit_button:default {
  border: 1px solid #333B41;
  border-radius: 5px;
  color: #333B41;
}

.submit_button:hover {
  cursor: pointer;
}

.wrapper_credentials {
  width: 367px;
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.credentials {
  width: 228px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.design_author {
  width: 220px;
  height: 21px;
  font-family: "Roboto";
  font-style: thin;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px;
}

.design_author:hover {
  -webkit-text-decoration-color: #4B9200;
          text-decoration-color: #4B9200;
  cursor: pointer;
  color: #4B9200;
  text-underline-offset: 5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.school_credits {
  width: 228px;
  height: 21px;
  font-family: "Roboto";
  font-style: thin;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.school_credits:hover {
  -webkit-text-decoration-color: #4B9200;
          text-decoration-color: #4B9200;
  cursor: pointer;
  color: #4B9200;
  text-underline-offset: 5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

li {
  margin-left: 18px;
}

.donate_pic {
  width: 100vw;
  height: 390px;
  margin: auto;
  background-image: url("../../refs/pics/zoos_donate_gorillas.png");
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 196px;
}
.donate_pic .donate_button {
  display: inline-block;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 276px;
  transition: all 0.2s ease-in-out;
}
.donate_pic .donate_button:hover {
  cursor: pointer;
  background: #E47209;
}
.donate_pic .donate_button:active {
  cursor: pointer;
  background: #4B9200;
}/*# sourceMappingURL=gorilla.css.map */