* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../refs/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "Roboto";
    src: url("../refs/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
  }

@font-face {
    font-family: "Roboto";
    src: url("../refs/fonts/Roboto-Thin.woff") format("woff");
    font-weight: 100;
    font-style: thin;
}


$active_clicked_state: #4B9200;
$button_default: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$button_hover: #E47209;
$disabled_state: #767474;
$yellow: #FFEE2E;
$orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$red: #D31414;
$black_blue: #333B41;
$grey: #767474;
$grey_smoky: #ABABAB;
$light_grey: #F1F3F2;
$frosted_glass_white: #FDFDFF;
$black: #000000;
$white: #ffffff;
$orange: #F9804B;
$orange_gradient_2: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange_light: #FE9013;
$green: #4B9200;
$map_background: #EAF7FE;


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $pink_gradient;
    border-radius: 20px;
    box-shadow: inset 0 0 5px $grey;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.start_screen {
    width: 100vw;
    height: 780px;    
    background-image: url('../refs/pics/giant-panda_highres.jpg');
    background-size: cover;        
}

.wrapper_wide {
    width: 100vw;
    margin: auto;    
}

    .header {
        width: 100%;
        height: 80px;
        background-color: $black;                    
    }

        .wrapper {
            width: 1160px;
            margin: auto;
            display: flex;
        }  

        .header_content {
            width: 1160px;
            height: 80px;
            display: flex;
            flex-direction: row;
        }
            
            .logo {
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 82px;
                height: 52px;                
                margin: 14px 0px 14px 0px;   
                text-decoration: none; 
                border: 1.18841px solid $white; 
                border-radius: 2px;
                transition: all 0.4s ease-in-out;          
            }

                .logo_name {
                    color: $white;
                    display: inline-block;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 120%;
                    text-align: center;
                    box-sizing: border-box;                    
                    width: 72.49px;
                    height: 44.91px;                    
                    text-decoration: none;
                    z-index: 16;
                    position: absolute;
                    transition: all 0.4s ease-in-out;
                }

                .logo_bamboo {
                    width: 12px;
                    height: 28px;
                    display: inline-block;
                    background-image: url('../refs/icons/bamboo.svg');               
                    position: absolute;
                    box-sizing: border-box;                    
                    left: 7px;
                    top: 20px;
                    background-repeat: no-repeat;
                    z-index: 8;
                    transition: all 0.4s ease-in-out;
                }

                .logo:hover {
                    cursor: pointer;
                    border: 1.18841px solid $orange_light; 

                    .logo_name {
                        color: $orange_light;                        
                    }

                    * .logo_bamboo {
                        background-image: url('../refs/icons/bamboo_green.svg');
                    }
                }        


            .navigation {
                margin-top: 29px;
                margin-left: 63px;
                width: 1015px;
                height: 23px;
                display: flex;
                justify-content: space-between;
            }

            .navigation_menu_one { 
                width: 473px;
                height: 23px;               
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                color: $white;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-decoration: none;                
            }
            
            .navigation_menu_two {
                width: 105px;
                height: 22px;
            }

            .navigation_item {
                text-decoration: none;
            }
            
            .navigation_item:hover {
                cursor: pointer;                
            }

            .navigation_item #active {
                color: $button_hover;
                cursor: auto;
            }

            .navigation_link {
                transition-duration: 0.4s;
            }

            .navigation_link:not(#active):hover {
                color: $button_hover;
            }

            .navigation_link {
                text-decoration: none;
                color: $white;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
            }

.map_wrapper {
    width: 100vw;
    margin: auto;
    background-color: $map_background;
    display: flex;
    justify-content: center;
}
            
.map_section {
    width: 1600px;
    height: 938px;
    background-color: $map_background;
    z-index: 1;
}

    .map_controls {
        width: 54px;
        height: 118px;
        display: flex;
        flex-direction: column; 
        position: absolute; 
        right: 40px;
        top: 860px;
    }

        .plus {
            width: 54px;
            height: 54px;
            background-color: $white;
            border-radius: 5px;            
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .plus_closer {
                width: 32px;
                height: 32px;
                background-image: url('../refs/icons/plus.svg');
                display: inline-block;
            }

        .minus {
            width: 54px;
            height: 54px;
            background-color: $white;
            border-radius: 5px;   
            display: flex;
            justify-content: center;
            align-items: center;         
        }

            .minus_closer {
                width: 32px;
                height: 8px;
                background-image: url('../refs/icons/minus.svg');
                display: inline-block;
            }

    .wrapper_map {
        width: 1160px;
        margin: auto;
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    .map {
        width: 1084px;
        height: 715px;
        background-image: url('../refs/map/colored_map.png');
        margin-top: 104px;
        margin-bottom: 120px;
    }   

        .pointers {
            width: 1084px;
            height: 715px;
            position: relative;
            display: inline-block;
        }

            .map_pointer_usa {
                width: 25.55px;
                height: 32px;
                background-image: url('../refs/map/map_pointer.svg');
                transform: translate3d(137px, 363px, 0);
                position: absolute;
                z-index: 5;
            }

                .map_pointer_usa:hover {
                    cursor: pointer;
                }

            .map_pointer_florida {
                width: 25.55px;
                height: 32px;
                background-image: url('../refs/map/map_pointer.svg');
                transform: translate3d(252px, 380px, 0);
                position: absolute;
                z-index: 5;
            }

                .map_pointer_florida:hover {
                    cursor: pointer;
                }

            .map_pointer_congo {
                width: 25.55px;
                height: 32px;
                background-image: url('../refs/map/map_pointer.svg');
                transform: translate3d(542px, 466px, 0);
                position: absolute;  
                z-index: 5;         
            }

                .map_pointer_congo:hover {
                    cursor: pointer;
                }

            .map_pointer_china_1 {
                width: 25.55px;
                height: 32px;            
                background-image: url('../refs/map/map_pointer.svg');
                transform: translate3d(849px, 382px, 0);                
                z-index: 5;
                position: absolute;
            }

                .map_pointer_china_1:hover {
                    cursor: pointer;
                }

            .map_pointer_china_2 {
                width: 25.55px;
                height: 32px;
                background-image: url('../refs/map/map_pointer.svg'); 
                transform: translate3d(855px, 335px, 0);               
                position: absolute;
                z-index: 5;
            }

                .map_pointer_china_2:hover {
                    cursor: pointer;
                }

            .map_pointer_zealand {
                width: 25.55px;
                height: 32px;
                background-image: url('../refs/map/map_pointer.svg');   
                transform: translate3d(1015px, 610px, 0);              
                position: absolute;
                z-index: 5;
            }

                .map_pointer_zealand:hover {
                    cursor: pointer;
                }

        .zealand {
            width: 56px;
            height: 78px;
            background-image: url('../refs/map/zealand.png');
            transform: translate3d(1010px, -112px, 0);              
            position: absolute;
            z-index: 4;
        }          

        .eagle {
            width: 50px;
            height: 22px;
            background-image: url('../refs/map/eagle2.png');
            transform: translate3d(80px, -365px, 0);              
            position: absolute;
            z-index: 4;
            animation-name: eagle_anim;
            animation-duration: 5s;
            animation-delay: 1s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

            .eagle:hover {
                cursor: pointer;
            }

            @keyframes eagle_anim {
                0% {
                    transform: translate3d(80px, -365px, 0);  
                }
                20% {
                    transform: translate3d(80px, -345px, 0);
                }
                40% {
                    transform: translate3d(80px, -385px, 0);
                }
                60% {
                    transform: translate3d(80px, -345px, 0);
                }
                80% {
                    transform: translate3d(80px, -385px, 0);
                }
                100% {
                    transform: translate3d(80px, -365px, 0);
                }
            }

        .alligator {
            width: 75px;
            height: 31px;
            background-image: url('../refs/map/crocodile.png');
            transform: translate3d(240px, -300px, 0);              
            position: absolute;
            z-index: 4;
            animation-name: alligator_anim;
            animation-duration: 5s;
            animation-delay: 6s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;

            .alligator:after:hover {
                cursor: pointer;
            }

            &.tail {
                display: inline-block;
                background-image: url('../refs/map/crocodile_anim.png');
                animation-name: alligator_anim;
                animation-duration: 5s;
                animation-delay: 6s;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
            }

            @keyframes alligator_anim {
                0% {
                    background-image: url('../refs/map/crocodile.png');  
                }
                5% {
                    background-image: url('../refs/map/crocodile_anim.png');
                }
                20% {
                    background-image: url('../refs/map/crocodile_anim.png');
                }
                25% {
                    background-image: url('../refs/map/crocodile.png');
                }
                40% {
                    background-image: url('../refs/map/crocodile.png');
                }
                45% {
                    background-image: url('../refs/map/crocodile_anim.png');
                }
                60% {
                    background-image: url('../refs/map/crocodile_anim.png');
                }
                65% {
                    background-image: url('../refs/map/crocodile.png');
                }
                80% {
                    background-image: url('../refs/map/crocodile.png');
                }
                85% {
                    background-image: url('../refs/map/crocodile_anim.png');
                }
                95% {
                    background-image: url('../refs/map/crocodile_anim.png');
                }
                100% {
                    background-image: url('../refs/map/crocodile.png');
                }
            }
        }            

        .gorilla {
            width: 50px;
            height: 40px;
            background-image: url('../refs/map/gorillas.png');
            transform: translate3d(535px, -210px, 0);              
            position: absolute;
            z-index: 4;
            animation-name: gorilla_anim;
            animation-duration: 5s;
            animation-delay: 11s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

            @keyframes gorilla_anim {
                0% {
                    background-image: url('../refs/map/gorillas.png');  
                }
                20% {
                    background-image: url('../refs/map/gorillas_anim.png');
                }
                40% {
                    background-image: url('../refs/map/gorillas.png');
                }
                60% {
                    background-image: url('../refs/map/gorillas_anim.png');
                }
                80% {
                    background-image: url('../refs/map/gorillas.png');
                }
                100% {
                    background-image: url('../refs/map/gorillas_anim.png');
                }
            }

            .gorilla:hover {
                cursor: pointer;
            }

        .panda_1 {
            width: 37px;
            height: 49px;
            background-image: url('../refs/map/panda.png');
            transform: translate3d(815px, -400px, 0);              
            position: absolute;
            z-index: 4;
            animation-name: panda_1_anim;
            animation-duration: 5s;
            animation-delay: 16s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

            @keyframes panda_1_anim {
                0% {
                    transform: translate3d(815px, -400px, 0);  
                }
                20% {
                    transform: translate3d(815px, -410px, 0);
                }
                40% {
                    transform: translate3d(815px, -390px, 0);
                }
                60% {
                    transform: translate3d(815px, -410px, 0);
                }
                80% {
                    transform: translate3d(815px, -390px, 0);
                }
                100% {
                    transform: translate3d(815px, -400px, 0);
                }
            }

            .panda_1:hover {
                cursor: pointer;
            }

        .panda_2 {
            width: 46px;
            height: 42px;
            background-image: url('../refs/map/pandas.png');
            transform: translate3d(805px, -335px, 0);              
            position: absolute;
            z-index: 4;
            animation-name: pandas_anim;
            animation-duration: 5s;
            animation-delay: 21s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        @keyframes pandas_anim {
            0% {
                background-image: url('../refs/map/pandas.png');  
            }
            5% {
                background-image: url('../refs/map/pandas_anim.png');
            }
            20% {
                background-image: url('../refs/map/pandas_anim.png');
            }
            25% {
                background-image: url('../refs/map/pandas.png');
            }
            40% {
                background-image: url('../refs/map/pandas.png');
            }
            45% {
                background-image: url('../refs/map/pandas_anim.png');
            }
            60% {
                background-image: url('../refs/map/pandas_anim.png');
            }
            65% {
                background-image: url('../refs/map/pandas.png');
            }
            80% {
                background-image: url('../refs/map/pandas.png');
            }
            85% {
                background-image: url('../refs/map/pandas_anim.png');
            }
            95% {
                background-image: url('../refs/map/pandas_anim.png');
            }
            100% {
                background-image: url('../refs/map/pandas.png');
            }
        }

            .panda_2:hover {
                cursor: pointer;
            }

        .kiwi {
            width: 50px;
            height: 41px;
            background-image: url('../refs/map/kiwi.png');
            transform: translate3d(1036px, -95px, 0);              
            position: absolute;
            z-index: 4;
            animation-name: kiwi_anim;
            animation-duration: 5s;
            animation-delay: 26s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        @keyframes kiwi_anim {
            0% {
                background-image: url('../refs/map/kiwi.png');  
            }
            5% {
                background-image: url('../refs/map/kiwi_anim.png');
            }
            20% {
                background-image: url('../refs/map/kiwi_anim.png');
            }
            25% {
                background-image: url('../refs/map/kiwi.png');
            }
            40% {
                background-image: url('../refs/map/kiwi.png');
            }
            45% {
                background-image: url('../refs/map/kiwi_anim.png');
            }
            60% {
                background-image: url('../refs/map/kiwi_anim.png');
            }
            65% {
                background-image: url('../refs/map/kiwi.png');
            }
            80% {
                background-image: url('../refs/map/kiwi.png');
            }
            85% {
                background-image: url('../refs/map/kiwi_anim.png');
            }
            95% {
                background-image: url('../refs/map/kiwi_anim.png');
            }
            100% {
                background-image: url('../refs/map/kiwi.png');
            }
        }

            .kiwi:hover {
                cursor: pointer;
            }


    
    .footer {
        width: 100vw;  
        height: 443px;      
        background: #111115;
    }

        .wrapper_footer {
            width: 1160px;
            margin: auto;            
        }

        .footer_content {
            width: 1160px;
            height: 352px;
            display: flex; 
            padding-top: 40px;     
            justify-content: space-between;
        }

        .footer_left {
            width: 298px;
            height: 352px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .logo_footer {
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 82px;
            height: 52px;                
            margin: 0px 0px 68px 0px;   
            text-decoration: none; 
            border: 1.18841px solid $white; 
            border-radius: 2px;
            transition: all 0.4s ease-in-out;          
        }

            .logo_name {
                color: $white;
                display: inline-block;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 120%;
                text-align: center;
                box-sizing: border-box;                    
                width: 72.49px;
                height: 44.91px;                    
                text-decoration: none;
                z-index: 16;
                position: absolute;
                transition: all 0.4s ease-in-out;
            }

            .logo_bamboo {
                width: 12px;
                height: 28px;
                display: inline-block;
                background-image: url('../refs/icons/bamboo.svg');               
                position: absolute;
                box-sizing: border-box;                    
                left: 7px;
                top: 20px;
                background-repeat: no-repeat;
                z-index: 8;
                transition: all 0.4s ease-in-out;
            }

            .logo_footer:hover {
                cursor: pointer;
                border: 1.18841px solid $orange_light; 

                .logo_name {
                    color: $orange_light;                        
                }

                * .logo_bamboo {
                    background-image: url('../refs/icons/bamboo_green.svg');
                }
            }

            .button_footer {
                width: 298px;
                height: 54px;
                background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                border-radius: 5px;
                transition: all 0.4s ease-in-out;                
            }

            .button_footer:hover {                
                background: #E47209;
                cursor: pointer;
            }

                .footer_button_content {
                    width: 298px;
                    height: 22px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    text-decoration: none;
                }

                .footer_button_content:active {
                    text-decoration: none;
                    color: $white;
                }

                .footer_button_content:visited {
                    text-decoration: none;
                    color: $white;
                }

                .button_footer .footer_button_content {
                    display: block;
                }

            .social_networks {
                width: 111px;
                height: 134px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 44px;
            }

            .facebook {
                width: 111px;
                height: 26px;
                display: flex;
                justify-content: space-between;
                transition: all 0.1s ease-in-out;
            }

                .facebook:hover {                    
                    cursor: pointer;
                }

            .twitter {
                width: 89px;
                height: 26px;
                display: flex;
                justify-content: space-between;
                transition: all 0.1s ease-in-out;
            }

                .twitter:hover {                    
                    cursor: pointer;
                }

            .instagram {
                width: 110px;
                height: 26px;
                display: flex;
                justify-content: space-between;
                transition: all 0.1s ease-in-out;
            }

                .instagram:hover {                    
                    cursor: pointer;
                }

            .youtube {
                width: 101px;
                height: 26px;
                display: flex;
                justify-content: space-between;
                transition: all 0.1s ease-in-out;
            }

                .youtube:hover {                    
                    cursor: pointer;
                }

            .network_name {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $white;
                text-decoration: none;
                transition: all 0.1s ease-in-out;
            }               

                .network_name:visited {
                    text-decoration: none;
                }

                .network_name:active {
                    text-decoration: none;
                }

            .network_icon {
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: rgba(196, 196, 196, 0.5);
            }

                .facebook:hover {

                        > .network_icon {
                        background: $orange;
                        
                        ~ .network_name {
                            color: $orange;
                        }
                    } 
                }

                .facebook:active {

                        > .network_icon {
                        background: $green;
                        
                        ~ .network_name {
                            color: $green;
                        }
                    }
                }         

                .twitter:hover {

                        > .network_icon {
                        background: $orange;
                        
                        ~ .network_name {
                            color: $orange;
                        }
                    }
                }

                .twitter:active {

                        > .network_icon {
                        background: $green;
                        
                        ~ .network_name {
                            color: $green;
                        }
                    }
                }

                .instagram:hover {

                        > .network_icon {
                        background: $orange;
                        
                        ~ .network_name {
                            color: $orange;
                        }
                    }
                }

                .instagram:active {

                        > .network_icon {
                        background: $green;
                        
                        ~ .network_name {
                            color: $green;
                        }
                    }
                }                

                .youtube:hover {

                        > .network_icon {
                        background: $orange;
                        
                        ~ .network_name {
                            color: $orange;
                        }
                    }
                }

                .youtube:active {

                        > .network_icon {
                        background: $green;
                        
                        ~ .network_name {
                            color: $green;
                        }
                    }
                } 
                                

                .facebook_icon {
                    width: 8px;
                    height: 16px; 
                    background-image: url('../refs/icons/icon_facebook.png');
                }

                .twitter_icon {
                    width: 16px;
                    height: 14px;
                    background-image: url('../refs/icons/icon_twitter.png');
                }

                .instagram_icon {
                    width: 16px;
                    height: 16px;
                    background-image: url('../refs/icons/icon_instagram.png');
                }

                .youtube_icon {
                    width: 18px;
                    height: 12.99px;
                    background-image: url('../refs/icons/icon_youtube.png');
                }

        .footer_center {
            width: 362px;
            height: 353px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .navigation_footer {
            width: 362px;
            height: 22px;            
        }

        .navigation_menu_footer {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

            .navigation_footer_item_one {
                width: 43px;
                height: 22px; 
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
            }

            .navigation_footer_item_two {
                width: 32px;
                height: 22px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
            }

            .navigation_footer_item_three {
                width: 36px;
                height: 22px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
            }

            .navigation_footer_item_four {
                width: 79px;
                height: 22px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
            }

        .footer_right {
            width: 367px;
            height: 353px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;                        
        }

            .subscribe {
                width: 237px;
                height: 29px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;                
            }

            .enter_email_block {
                width: 367px;
                height: 42px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 14px;
            }

                .enter_email_frame {
                    width: 228px;
                    height: 42px;
                    border: 1px solid #F9804B;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .email input[type="email"] {
                        width: 208px;
                        height: 22px;                        
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #BDBDBD;   
                        background-color: transparent;
                        outline: none;
                        border: transparent;
                        resize: none;
                        border-style: none;                     
                    }

                    input {
                        border: none;
                    }

                    .email::placeholder {
                        background-color: $black;                        
                        display: block;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #BDBDBD;                        
                        outline: none;
                        border: none;
                        resize: none; 
                        border-style: none;
                        border-color: transparent; 
                        border-width: 0px;                     
                    }

                    input:active {
                        border: none;
                    }

                    input[type=email]:focus {
                        background: transparent;
                        outline: none;
                        color: $grey;
                    }

            .enter_email_frame:has(input[type="email"]:valid) ~ .submit_button {
                border-color: $green;
                color: $green;
            }

            .enter_email_frame:has(input[type="email"]:invalid) ~ .submit_button {
                border-color: $red;
                color: $red;
            }

            .enter_email_frame:has(input[type="email"]:default) ~ .submit_button {
                border-color: $grey;
                color: $grey;
            }

                .submit_button {
                    width: 129px;
                    height: 42px;
                    background: #F1F3F2;
                    border: 1px solid $black_blue;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: $black_blue;
                    transition: all 0.4s ease-in;
                }

                .submit_button:default {
                    border: 1px solid $black_blue;
                    border-radius: 5px;
                    color: $black_blue;
                }

                .submit_button:hover {
                    cursor: pointer;
                }                


            .wrapper_credentials {
                width: 367px;
                height: 52px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }        

                .credentials {
                    width: 228px;
                    height: 52px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                    .design_author {
                        width: 220px;
                        height: 21px;
                        font-family: 'Roboto';
                        font-style: thin;
                        font-weight: 100;
                        font-size: 16px;
                        line-height: 130%;
                        color: $white;
                        text-decoration: none;
                        transition: all 0.4s ease-in-out;
                        margin-bottom: 10px;
                    }

                        .design_author:hover {
                            text-decoration-color: $green;
                            cursor: pointer;
                            color: $green;
                            text-underline-offset: 5px;
                            text-decoration-line: underline;
                            text-decoration-thickness: 1px;
                        }

                    .school_credits {
                        width: 228px;
                        height: 21px;
                        font-family: 'Roboto';
                        font-style: thin;
                        font-weight: 100;
                        font-size: 16px;
                        line-height: 130%;
                        color: $white;
                        text-decoration: none;
                        transition: all 0.4s ease-in-out;
                    }

                        .school_credits:hover {
                            text-decoration-color: $green;
                            cursor: pointer;
                            color: $green;
                            text-underline-offset: 5px;
                            text-decoration-line: underline;
                            text-decoration-thickness: 1px;
                        }
